<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlan Sistemi</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    @RenderSection("Styles", false)
</head>
<body>
<header>
    <h1>İlan Sistemi</h1>
    <nav>
        <a href="/">Anasayfa</a>
        <a href="#">Kategoriler</a>
        <a href="/Admin/editor/index">Editor</a>

    </nav>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>