@{
Layout = "_Layout";
}
@model IlanAppv2.Models.Ilan

<form method="post" action="/admin/editor/updateAd" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label for="ad-title">Başlık</label>
    <input type="text" id="ad-title" name="name" required value="@Model.Name"> 

    <label for="ad-detail">Detay</label>
    <textarea id="ad-detail" name="detail" required >@Model.Detail</textarea>

    <label for="ad-price">Fiyat</label>
    <input type="number" id="ad-price" name="price" required value="@Model.Price">

    <input required type="file" name="img" accept="image/png, image/jpeg"/>
    
    <button type="submit">GÜNCELLE</button>
</form>